.header {
  color: yellow;
}

#backgroundimage {
  height: 800px;
  position: sticky;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  }
#Warstwa_1{
  size: 4px;
}
